.main {
    color: #dfedfd;
    background-color: darkseagreen;
    padding: 12px;
    cursor : pointer;
}

    .main:hover {
        background-color: darkolivegreen
    }

    .item-details{
        margin-left : 25px;
    }